{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{/* range .Site.Data.projects */}}

{{ $data := .Site.Data }}
{{ $dataLang := index .Site.Data .Site.Language.Lang }}
        
{{ range sort $data.portfolio.project "weight" }}
    {{ $curCode := .code }}
    {{ $link := .link }}
    {{ $imgUrl := printf "img/portfolio/%s" .img }}
    {{ $category := .category }}

    {{/* показываем только если к нему есть переводы в языковом файле */}}
    {{ range $dataLang.portfolio.project }}
        {{ if eq .code $curCode }}
            <div class="portfolio-modal modal fade" id="portfolioModal{{ $curCode }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <h2>{{ .title  | markdownify }}</h2>
                                    {{/* if .subtitle }}{{ end */}}
                                        <p class="item-intro text-muted">{{/* .subtitle | markdownify */}}
                                            {{ range $index, $value := $category }}
                                                {{ if gt $index 0 }}, {{ end }}{{ T $value }}
                                            {{ end }}
                                        </p>
                                    
                                    <img class="img-responsive img-centered" src="{{ $imgUrl | absURL }}" alt="">
                                    <div class="portfolio-description">
                                        <p>{{ .description | markdownify }}</p>
                                    </div>
                                    <ul class="list-inline">
                                        <li><a href="{{ $link }}">{{ $link }}</a></li>

                                        {{ if 0 }}
                                        <li>{{ with $.Site.Params.portfolio.modal.date }}{{ . }}{{ end }}: {{ .date }}</li>
                                        <li>{{ with $.Site.Params.portfolio.modal.client }}{{ . | markdownify }}{{ end }}: <a href="{{ $link }}">{{ $link }}</a></li>
                                        <li>{{ with $.Site.Params.portfolio.modal.client }}{{ . | markdownify }}{{ end }}: <a href="{{ .clientLink }}">{{ .client }}</a></li>
                                        {{ end }}
                                    </ul>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{ . }}{{ end }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
